/*reset*/

/**/
html,body{
    font-family: 'Open sans', cursive;
    margin: 0;
    color: black;
}

/**/
main{
    max-width: 800px;
    margin: 0px auto;
    border: solid 1px transparent;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    box-shadow: 0 0 10px #222;
}
section h2, nav h2{
    position: sticky;
    top: 0;
    left: 0;
}

nav>h2, section>h2{
    line-height: 45px;
    box-shadow: 0 3px 0 #cccccc;
    padding: 5px;
    color: #fafafa;
    background-color: #3498DB;
    margin-top: 20px;
    margin-bottom: 20px;


}

header>h1{
    margin-top: 20px;
}

a{
    text-decoration: none;
    color: black;
}

nav>ul{
    line-height: 1.5rem;
    margin-top: 10px;
}

header>h1{
    line-height: 60px;
    text-align: center;
}


h1,h2,p,ul{
    margin: 0;
    font-weight: 100;
}

p,ul{
    line-height: 1.5rem;
    text-align: justify;
}

p{
    font-family: sans-serif;

}

.mcd{
    display: block;
    width: 100%;
    margin-top: 10px;
}

.mcd{
    size: 10px;
}

/*Arrière plan*/
html{
    background: url(../../img/portfolio/projets/ecran_codePhp.png) no-repeat fixed center center / cover;
    scroll-behavior: smooth;

}


footer>p{
    text-align: center;
    margin-bottom: auto;
}
